.main {
  height: 100px;
  width: 600px;
  background-color: rgb(95, 91, 91);
  color: whitesmoke;
  margin-bottom: 15px;
  text-align: center;
  font-size: 30px;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}
